{% import 'components/form/modals_macros.html.twig' as modals %}
{% set rand = random() %}

<div class="container-fluid">

    <form name="massaction_{{ rand }}" id="massaction_{{ rand }}" method="post"
          action="{{ path('/front/massiveaction.php') }}" data-submit-once>
        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="action" value="purge">
        <input type="hidden" name="action_name" value="purge">
        <input type="hidden" name="processor" value="MassiveAction">

        <div class="card card-sm search-card">
            {% if count == 0 %}
                <div class="alert alert-info mb-0 rounded-0 border-top-0 border-bottom-0 border-right-0" role="alert">
                    {{ none_found }}
                </div>
            {% else %}
                <div class="table-responsive">
                    {% set table_id = 'package_subitem_' ~ rand %}
                    <table class="search-results table table-hover table-card" id="{{ table_id }}">
                        <thead>
                        <tr>
                            <th style="width: 32px;">
                                <input class="form-check-input" type="checkbox" id="checkall_{{ rand }}"
                                    value="" title="{{ __('Check all as') }}"
                                    data-bs-toggle="tooltip"
                                    onclick="checkAsCheckboxes('checkall_{{ rand }}', '{{ table_id }}');" />
                            </th>
                            {% for label in headings %}
                                <th>
                                    {{ label }}
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody class="sortable-subitems">
                        {% for entry in entries %}

                           {# handle delted item display#}
                           {% set is_deleted_item %}
                              {% if entry['is_deleted'] %}
                                 tab_bg_2_2
                              {% endif %}
                           {% endset %}

                            <tr data-subitem-id="{{ entry['id'] }}" class="{{ is_deleted_item }}">
                                 <td>
                                    {% set checked = session('glpimassiveactionselected')[itemtype][entry['id']] ?? false %}
                                    <input type="checkbox" class="form-check-input"
                                        name="items[{{ itemtype }}][{{ entry['id'] }}]"
                                        data-glpicore-ma-tags="common"
                                        value="{{ entry['id'] }}"
                                        {% if checked %}checked="checked"{% endif %}>
                                 </td>
                                 <td>
                                    {{ entry['name']|raw}}
                                 </td>
                                 <td>
                                    {{ entry['is_dynamic']}}
                                 </td>
                                 <td>
                                    {{ entry['entity']}}
                                 </td>
                                 <td>
                                    {{ entry['serial']}}
                                 </td>
                                 <td>
                                    {{ entry['otherserial']}}
                                 </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>

        {% if count > 0 %}
            <button class="btn btn-sm btn-ghost-secondary my-1 ms-1" type="submit" value="massiveaction">
                <i class="ti ti-corner-left-up mt-1"></i>
                <span>{{ __("Delete") }}</span>
            </button>
        {% endif %}
    </form>
</div>
