{#
 # -------------------------------------------------------------------------
 # deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022 by the deploy plugin team.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/deploy
 # -------------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

<form method='POST' enctype='multipart/form-data' action='{{  call('Toolbox::getItemTypeFormURL("GlpiPlugin\Deploy\Computer_Group")')   }}'>
   <div class="d-flex">
      {{ fields.dropdownField(
         'Computer',
         'computers_id',
         '0',
         call('Computer::getTypeName', [0]),
         {
            'used': computer_used,
            'condition': {'is_dynamic': 1},
         }
      ) }}

      {% set btn_add %}
         <button type="submit" class="btn btn-primary" name="add_staticcomputer" value="1">
            <i class="fas fa-plus"></i>
            <span>{{_x('button', 'Add') }}</span>
         </button>
      {% endset %}

      {{ fields.htmlField(
         '',
         btn_add,
         ''
      ) }}
   </div>
   <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
   <input type="hidden" name="plugin_deploy_computers_groups_id" value="{{ computers_groups_id }}" />
</form>
