{#
 # -------------------------------------------------------------------------
 # deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022 by the deploy plugin team.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/deploy
 # -------------------------------------------------------------------------
 #}

{% import 'components/form/modals_macros.html.twig' as modals %}
{% set rand = random() %}

<div class="container-fluid">

    <form name="massaction_{{ rand }}" id="massaction_{{ rand }}" method="post"
          action="{{ path('/front/massiveaction.php') }}" data-submit-once>
        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="action" value="purge">
        <input type="hidden" name="action_name" value="purge">
        <input type="hidden" name="processor" value="MassiveAction">

        <div class="card card-sm search-card">
            {% if count == 0 %}
                <div class="alert alert-info mb-0 rounded-0 border-top-0 border-bottom-0 border-right-0" role="alert">
                    {{ none_found }}
                </div>
            {% else %}
                <div class="table-responsive">
                    {% set table_id = 'package_subitem_' ~ rand %}
                    <table class="search-results table table-hover table-card" id="{{ table_id }}">
                        <thead>
                        <tr>
                            <th style="width: 32px;">
                                <input class="form-check-input" type="checkbox" id="checkall_{{ rand }}"
                                    value="" title="{{ __('Check all as') }}"
                                    data-bs-toggle="tooltip"
                                    onclick="checkAsCheckboxes('checkall_{{ rand }}', '{{ table_id }}');" />
                            </th>
                            {% for label in headings %}
                                <th>
                                    {{ label }}
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody class="sortable-subitems">
                        {% for entry in entries %}

                           {# handle delted item display#}
                           {% set is_deleted_item %}
                              {% if entry['is_deleted'] %}
                                 tab_bg_2_2
                              {% endif %}
                           {% endset %}

                            <tr data-subitem-id="{{ entry['id'] }}" class="{{ is_deleted_item }}">
                                 <td>
                                    {% set checked = session('glpimassiveactionselected')[itemtype][entry['id']] ?? false %}
                                    <input type="checkbox" class="form-check-input"
                                        name="items[{{ itemtype }}][{{ entry['id'] }}]"
                                        data-glpicore-ma-tags="common"
                                        value="{{ entry['id'] }}"
                                        {% if checked %}checked="checked"{% endif %}>
                                 </td>
                                 <td>
                                    {{ entry['name']|raw}}
                                 </td>
                                 <td>
                                    {{ entry['is_dynamic']}}
                                 </td>
                                 <td>
                                    {{ entry['entity']}}
                                 </td>
                                 <td>
                                    {{ entry['serial']}}
                                 </td>
                                 <td>
                                    {{ entry['otherserial']}}
                                 </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>

        {% if count > 0 %}
            <button class="btn btn-sm btn-ghost-secondary my-1 ms-1" type="submit" value="massiveaction">
                <i class="ti ti-corner-left-up mt-1"></i>
                <span>{{ __("Delete") }}</span>
            </button>
        {% endif %}
    </form>
</div>
