<td>
    <a href="#" class="edit_{{ subitem_type }}" data-id="{{ entry['id'] }}">
        <span>{{ entry['name'] }}</span>
    </a>
</td>
<td>
    {{ call("GlpiPlugin\\Deploy\\Package_Action::getLabelForType", [entry['type'], true])|raw }}
</td>
<td>
    {{ call("GlpiPlugin\\Deploy\\Package_Action::getFormattedData", [entry['json'], entry['type']])|raw }}
</td>
