{#
 # -------------------------------------------------------------------------
 # Deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Deploy.
 #
 # Deploy is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # Deploy is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Deploy. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022-2024 by Deploy plugin team.
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # @link      https://github.com/pluginsGLPI/deploy
 # -------------------------------------------------------------------------
 #}

<td>
    <a href="#" class="edit_{{ subitem_type }}" data-id="{{ entry['id'] }}">
        <span>{{ entry['name'] }}</span>
    </a>
</td>
<td>
    <i class="fa-fw {{ call("GlpiPlugin\\Deploy\\Package_Check::getIconForParentType", [entry['parent_type']]) }}"></i>
    {{ call("GlpiPlugin\\Deploy\\Package_Check::getLabelForType", [entry['type']]) }}
</td>
<td><code>{{ entry['path'] }}</code></td>
<td>
    <span class="d-inline-block text-truncate"
          style="max-width: 350px"
          title="{{ entry['value'] }}"
          data-bs-toggle="tooltip">
        {{ entry['value']|length ? ('<code>' ~ entry['value'] ~ '</code>')|raw : '' }}
    </span>
</td>
<td>{{ call("GlpiPlugin\\Deploy\\Package_Check::getLabelForReturnValue", [entry['return'], true])|raw }}</td>
