{#
 # -------------------------------------------------------------------------
 # deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022 by the deploy plugin team.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/deploy
 # -------------------------------------------------------------------------
 #}

<td>
    <a href="#" class="edit_{{ subitem_type }}" data-id="{{ entry['id'] }}">
        <span>{{ entry['name'] }}</span>
    </a>
</td>
<td>
    <i class="fa-fw {{ call("GlpiPlugin\\Deploy\\Package_Check::getIconForParentType", [entry['parent_type']]) }}"></i>
    {{ call("GlpiPlugin\\Deploy\\Package_Check::getLabelForType", [entry['type']]) }}
</td>
<td><code>{{ entry['path'] }}</code></td>
<td>
    <span class="d-inline-block text-truncate"
          style="max-width: 350px"
          title="{{ entry['value'] }}"
          data-bs-toggle="tooltip">
        {{ entry['value']|length ? ('<code>' ~ entry['value'] ~ '</code>')|raw : '' }}
    </span>
</td>
<td>{{ call("GlpiPlugin\\Deploy\\Package_Check::getLabelForReturnValue", [entry['return'], true])|raw }}</td>
