{#
 # -------------------------------------------------------------------------
 # deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022 by the deploy plugin team.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/deploy
 # -------------------------------------------------------------------------
 #}

<td>
    <a href="#" class="edit_{{ subitem_type }}" data-id="{{ entry['id'] }}">
        <i class="fa-fw fa-lg {{ call('GlpiPlugin\\Deploy\\Package_File::getMimetypeFaIcon', [entry['mimetype']]) }}"
           title="{{ entry['mimetype'] }}"
           data-bs-toggle="tooltip"></i>
        <span>{{ entry['filename'] }}</span>
    </a>
</td>
<td>{{ call('Toolbox::getSize', [entry['filesize'] ?? 0]) }}</td>
<td>{{ entry['p2p'] == 1 ? "<i class='ti ti-check'>" : "" }}</td>
<td>{{ entry['p2p'] == 1 ? entry['p2p_retention_days'] : "" }}</td>
<td>{{ entry['uncompress'] == 1 ? "<i class='ti ti-check'>" : "" }}</td>
<td>
    <span class="text-muted d-inline-block text-truncate"
          style="max-width: 250px"
          title="{{ entry['sha512'] }}"
          data-bs-toggle="tooltip">
        {{ entry['sha512'] }}
    </span>
</td>
<td>
{% set plugin_path = call("Plugin::getWebDir", ['deploy']) %}
    <a
    href="{{ plugin_path }}/front/package.form.php?download_file=1&amp;file_id={{ entry['id'] }}"
    title='{{ __('Download', 'glpiinventory') }}'
    data-bs-toggle='tooltip'
    target='_blank' >
        <i class='ti ti-download'></i>
    </a>
</td>
