{#
 # -------------------------------------------------------------------------
 # Deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Deploy.
 #
 # Deploy is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # Deploy is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Deploy. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022-2024 by Deploy plugin team.
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # @link      https://github.com/pluginsGLPI/deploy
 # -------------------------------------------------------------------------
 #}

{% import 'components/form/modals_macros.html.twig' as modals %}
{% set rand = random() %}

<div class="container-fluid">
    <div class="mb-2 d-flex justify-content-between">
        <button class="btn btn-primary mb-2" id="add_{{ subitem_type }}">
            <i class="{{ icon }}"></i>
            <span>{{ add_title }}</span>
        </button>

        <button class="btn btn-ghost-secondary next-tab" type="button">
            <i class="ti ti-arrow-right"></i>
            <span>{{ __("Next") }}</span>
        </button>
    </div>

    <form name="massaction_{{ rand }}" id="massaction_{{ rand }}" method="post"
          action="{{ path('/front/massiveaction.php') }}" data-submit-once>
        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="action" value="purge">
        <input type="hidden" name="action_name" value="purge">
        <input type="hidden" name="processor" value="MassiveAction">

        <div class="modal fade" id="modal_{{ subitem_type }}" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ __('Close') }}"></button>
                    </div>
                    <div class="modal-ajax-content"></div>
                </div>
            </div>
        </div>

        <div class="card card-sm search-card">
            {% if count == 0 %}
                <div class="alert alert-info mb-0 rounded-0 border-top-0 border-bottom-0 border-right-0" role="alert">
                    {{ none_found }}
                </div>
            {% else %}
                <div class="table-responsive">
                    {% set table_id = 'package_subitem_' ~ rand %}
                    <table class="search-results table table-hover table-card" id="{{ table_id }}">
                        <thead>
                        <tr>
                            <th style="width: 32px;">
                                <input class="form-check-input" type="checkbox" id="checkall_{{ rand }}"
                                    value="" title="{{ __('Check all as') }}"
                                    data-bs-toggle="tooltip"
                                    onclick="checkAsCheckboxes('checkall_{{ rand }}', '{{ table_id }}');" />
                            </th>
                            {% for label in headings %}
                                <th>
                                    {{ label }}
                                </th>
                            {% endfor %}
                            <th>{# ordering #}</th>
                        </tr>
                        </thead>
                        <tbody class="sortable-subitems">
                        {% for entry in entries %}
                            <tr data-subitem-id="{{ entry['id'] }}">
                                <td>
                                    {% set checked = session('glpimassiveactionselected')[subitem_itemtype][entry['id']] ?? false %}
                                    <input type="checkbox" class="form-check-input"
                                        name="items[{{ subitem_itemtype }}][{{ entry['id'] }}]"
                                        data-glpicore-ma-tags="common"
                                        value="{{ entry['id'] }}"
                                        {% if checked %}checked="checked"{% endif %}>
                                </td>
                                {% include subitem_line with {
                                    'entry': entry,
                                    'subitem_type': subitem_type,
                                } only %}

                                <td>
                                    <i class="ti ti-grip-horizontal reorder-subitem" title="{{ __("Drag to reorder", 'deploy') }}"
                                    data-bs-toggle="tooltip"></i>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>

        {% if count > 0 %}
            <button class="btn btn-sm btn-ghost-secondary my-1 ms-1" type="submit" value="massiveaction">
                <i class="ti ti-corner-left-up mt-1"></i>
                <span>{{ __("Delete") }}</span>
            </button>
        {% endif %}
    </form>
</div>

<script type="text/javascript">
$(document).ready(function() {
    var modal = $('#modal_{{ subitem_type }}');
    var bs_modal = new bootstrap.Modal(document.getElementById('modal_{{ subitem_type }}'), {});
    var ajax_url = CFG_GLPI.root_doc + '/' + GLPI_PLUGINS_PATH.deploy + '/ajax/package.php';

    $('#add_{{ subitem_type }}').on('click', function() {
        var id = $(this).data('id');
        modal.find('.modal-title').html('{{ add_title }}');
        modal.find('.modal-ajax-content').load(ajax_url, {
            'plugin_deploy_packages_id': {{ plugin_deploy_packages_id }},
            'action': 'add_{{ subitem_type }}',
        });

        bs_modal.show();
    });

    $('.edit_{{ subitem_type }}').on('click', function() {
        var id = $(this).data('id');
        modal.find('.modal-title').html('{{ edit_title }}');
        modal.find('.modal-ajax-content').load(ajax_url, {
            'id': id,
            'action': 'edit_{{ subitem_type }}',
        });

        bs_modal.show();
    });

    $(".next-tab").on('click', function() {
        const next_tab_el = $("#tabspanel li a.active").parent('li').next('li').find("a")[0];
        const next_tab = new bootstrap.Tab(next_tab_el);
        next_tab.show();
    });

    sortable('.sortable-subitems', {
        handle: '.reorder-subitem',
        placeholder: '<tr><td colspan="{{ (headings|length + 2) }}" class="sortable-placeholder">&nbsp;</td></tr>'
    })[0].addEventListener('sortupdate', function(e) {
        var sort_detail      = e.detail;
        var subitem_id       = sort_detail.item.dataset.subitemId;
        var subitem_itemtype = '{{ subitem_itemtype }}';
        var new_index        = sort_detail.destination.index;
        var old_index        = sort_detail.origin.index;
        var ref_id           = sort_detail.destination.itemsBeforeUpdate[new_index].dataset.subitemId;
        var sort_action      = 'after';

        if (old_index > new_index) {
            sort_action = 'before';
        }

        $.post(ajax_url, {
            'action': 'move_subitem',
            'subitem_itemtype': subitem_itemtype,
            'subitem_id': subitem_id,
            'ref_id': ref_id,
            'sort_action': sort_action,
        });

        displayAjaxMessageAfterRedirect();
    });
});
</script>
