{#
 # -------------------------------------------------------------------------
 # Deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Deploy.
 #
 # Deploy is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # Deploy is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Deploy. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022-2024 by Deploy plugin team.
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # @link      https://github.com/pluginsGLPI/deploy
 # -------------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

{% set rand = random() %}

{% set pkg_icon = call("GlpiPlugin\\Deploy\\Package::getIcon") %}

<div class="container-fluid">
    <div class="mb-2">
        <form method="post" class="mb-2" action="{{ call("GlpiPlugin\\Deploy\\Package::getFormUrl()") }}">
            <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="plugin_deploy_packages_id" value="{{ package.fields['id'] }}">

            <div class="d-flex justify-content-between">
                <div class="d-flex flex-grow-1">
                    {% block subitem_form %}

                    {% endblock %}
                </div>

                {% if subitems|length > 0 %}
                    <button class="btn btn-ghost-secondary next-tab" type="button">
                        <i class="ti ti-arrow-right"></i>
                        <span>{{ __("Next") }}</span>
                    </button>
                {% endif %}
            </div>
        </form>
    </div>

    <form name="massaction_{{ rand }}" id="massaction_{{ rand }}" method="post"
        action="{{ path('/front/massiveaction.php') }}" data-submit-once>
        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="action" value="purge">
        <input type="hidden" name="action_name" value="purge">
        <input type="hidden" name="processor" value="MassiveAction">

        <div class="card card-sm search-card">
            {% if subitems|length == 0 %}
                <div class="alert alert-info mb-0 rounded-0 border-top-0 border-bottom-0 border-right-0 mb-0" role="alert">
                    {{ none_found }}
                </div>
            {% else %}
                <div class="table-responsive">
                    <table class="search-results table table-hover table-card" id="package_list_{{ rand }}">
                        <thead>
                            <tr>
                                <th style="width: 32px;">
                                    <input class="form-check-input" type="checkbox" id="checkall_{{ rand }}"
                                        value="" title="{{ __('Check all as') }}"
                                        data-bs-toggle="tooltip"
                                        onclick="checkAsCheckboxes('checkall_{{ rand }}', 'package_list_{{ rand }}');" />
                                </th>
                                <th>
                                    {{ __("Name") }}
                                </th>
                                <th>
                                    {{ __('Number of dynamics items', 'deploy') }}
                                </th>
                                <th>
                                    {{ __('Number of statics items', 'deploy') }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subitem_id, subitem in subitems %}
                                <tr>
                                    <td>
                                        {% set checked = session('glpimassiveactionselected')[ma_itemtype][subitem_id] ?? false %}
                                        <input type="checkbox" class="form-check-input"
                                            name="items[{{ ma_itemtype }}][{{ subitem_id }}]"
                                            data-glpicore-ma-tags="common"
                                            value="{{ subitem_id }}"
                                            {% if checked %}checked="checked"{% endif %}>
                                    </td>
                                    <td>
                                        {% set subitem_active = ((subitem.fields['is_active'] ?? "1") == "1") %}
                                        {% set subitem_icon = subitem.getIcon() %}
                                        {% if not subitem_active %}
                                            {% set subitem_icon = "ti ti-alert-triangle text-warning" %}
                                        {% endif %}

                                        <i class="{{ subitem_icon }} me-1"></i>
                                        {{ subitem.getLink({
                                            'linkoption': subitem_active ? "" : "class='link-warning' title='" ~ __("Item is not active", 'deploy') ~ "' data-bs-toggle='tooltip'",
                                        })|raw }}
                                    </td>
                                    <td>
                                        {{ subitem.countDynamicItem() }}
                                    </td>
                                    <td>
                                        {{ subitem.countStaticItem() }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

        </div>

        {% if subitems|length > 0 %}
            <button class="btn btn-sm btn-ghost-secondary my-1 ms-1" type="submit" value="massiveaction">
                <i class="ti ti-corner-left-up mt-1"></i>
                <span>{{ __("Delete") }}</span>
            </button>
        {% endif %}
    </form>

</div>

<script type="text/javascript">
$(document).ready(function() {
    $(".next-tab").on('click', function() {
        const next_tab_el = $("#tabspanel li a.active").parent('li').next('li').find("a")[0];
        const next_tab = new bootstrap.Tab(next_tab_el);
        next_tab.show();
    });
});
</script>
