{#
 # -------------------------------------------------------------------------
 # Deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Deploy.
 #
 # Deploy is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # Deploy is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Deploy. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022-2024 by Deploy plugin team.
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # @link      https://github.com/pluginsGLPI/deploy
 # -------------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}
{% extends "@deploy/package/subitemtarget.list.html.twig" %}


{% block subitem_form %}
    {{ fields.dropdownField(
        "GlpiPlugin\\Deploy\\Computer_Group",
        'items_id',
        0,
        call('GlpiPlugin\\Deploy\\Computer_Group::getTypeName', [0]),
        {
            'used': used,
        }
    ) }}

    {% set btn_add %}
        <button class="btn btn-primary mb-2" type="submit" name="add_target">
            <i class="{{ call("GlpiPlugin\\Deploy\\Package_Target::getIcon") }}"></i>
            <span>{{ __("Add a new target", 'deploy') }}</span>
        </button>
    {% endset %}

    {{ fields.htmlField(
        '',
        btn_add,
        ''
    ) }}
    {{ fields.hiddenField('itemtype', 'GlpiPlugin\\Deploy\\Computer_Group') }}

{% endblock %}
