
<td>
    <a href="#" class="edit_{{ subitem_type }}" data-id="{{ entry['id'] }}">
        <span>{{ entry['name'] }}</span>
    </a>
</td>
<td>{{ call("Glpi\\RichText\\RichText::getEnhancedHtml", [entry['title']])|raw }}</td>
<td>{{ call("Glpi\\RichText\\RichText::getEnhancedHtml", [entry['text']])|raw }}</td>
<td>{{ call("GlpiPlugin\\Deploy\\Package_UserInteraction::getLabelForType", [entry['type']]) }}</td>
<td>{{ call("GlpiPlugin\\Deploy\\Package_UserInteraction::getLabelForInteractionType", [entry['interaction_type']]) }}</td>
<td>
   <span>
    {{ call("GlpiPlugin\\Deploy\\Package_UserInteraction::getIconForLabel", [entry['icon']])|raw }}
    {{ call("GlpiPlugin\\Deploy\\Package_UserInteraction::getLabelForIcon", [entry['icon']])|raw }}
   </span>
</td>

