
<td>
    <a href="#" class="edit_{{ subitem_type }}" data-id="{{ entry['id'] }}">
        <span>{{ entry['name'] }}</span>
    </a>
</td>
<td>{{ entry['title'] }}</td>
<td>{{ entry['text'] }}</td>
<td>{{ call("GlpiPlugin\\Deploy\\Package_UserInteraction::getLabelForType", [entry['type']]) }}</td>
<td>
   <span> {{ call("GlpiPlugin\\Deploy\\Package_UserInteraction::getLabelForIcon", [entry['icon'], 'true'])|raw }} </span>
</td>

