{% import "components/form/fields_macros.html.twig" as fields %}

{% set url = get_plugin_web_dir('deploy') %}
<table class="tab_cadre_fixe">
    <thead>
        <tr class="tab_bg_2">
            <th>Behaviors</th>
        </tr>
    </thead>
</table>
<form action="{{url}}/front/userinteractiontemplate.form.php" method="post">
    <div class="card-body d-flex flex-wrap">
        <div class="col-12 col-xxl-{{ item_has_pictures ? '9' : '12' }} flex-column">
            <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
                <div class="row flex-row align-items-start flex-grow-1">
                    <div class="row flex-row">
                        <input type="hidden" name="id" value="{{ item.fields['id'] }}" />

                        {{ fields.dropdownArrayField(
                            'ok_action',
                            item.fields['ok_action'],
                            behaviors,
                            __('Action after OK', 'deploy'),
                            )
                        }}

                        {{ fields.dropdownArrayField(
                            'timeout_action',
                            item.fields['timeout_action'],
                            behaviors,
                            __('Action after lert timeout exceeded', 'deploy'),
                            )
                        }}

                        {{ fields.dropdownArrayField(
                            'no_user_action',
                            item.fields['no_user_action'],
                            behaviors,
                            __('Action if no active session', 'deploy'),
                            )
                        }}

                        {{ fields.dropdownArrayField(
                            'multi_users_action',
                            item.fields['multi_users_action'],
                            behaviors,
                            __('Action if several active sessions', 'deploy'),
                            )
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('components/form/buttons.html.twig') }}
</form>