{% import "components/form/fields_macros.html.twig" as fields %}

{% block more_fields %}

    {% set url = get_plugin_web_dir('deploy') %}
    <form action="{{url}}/front/userinteractiontemplate.form.php" method="post">
        <input type="hidden" name="id" value="{{ item.fields['id'] }}" />
        {{ fields.hiddenField() }}

        {{ fields.dropdownArrayField(
            'on_ok',
            item.fields['on_ok'],
            behaviors,
            __('Button ok', 'deploy'),
            )
        }}

        {{ fields.dropdownArrayField(
            'on_nouser',
            item.fields['on_nouser'],
            behaviors,
            __('No active session', 'deploy'),
            )
        }}

        {{ fields.dropdownArrayField(
            'on_timeout',
            item.fields['on_timeout'],
            behaviors,
            __('Alert timeout exceeded', 'deploy'),
            )
        }}

        {{ fields.dropdownArrayField(
            'on_multiusers',
            item.fields['on_multiusers'],
            behaviors,
            __('Several active sessions', 'deploy'),
            )
        }}

        {{ include('components/form/buttons.html.twig') }}
    </form>

{% endblock %}