{#
 # -------------------------------------------------------------------------
 # Deploy plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Deploy.
 #
 # Deploy is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # Deploy is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Deploy. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022-2024 by Deploy plugin team.
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # @link      https://github.com/pluginsGLPI/deploy
 # -------------------------------------------------------------------------
 #}

{% set header %}
    <thead>
        <tr>
            <th class="">
                {{ __('Day')}}
            </th>
            <th class="">
                {{ __('Timeslot', 'deploy')}}
            </th>
            <th class="">
                {{ __('All Day', 'deploy')}}
            </th>
            {% for i in 0..24 %}
                <th class="text-center">
                    {{ '%02d'|format(i) }}
                </th>
            {% endfor %}
            <th class="">
                {{ __('Add', 'deploy')}}
            </th>
            <th class="">
                {{ __('Delete', 'deploy')}}
            </th>
        </tr>
    </thead>
{% endset %}
<div class="container-fluid">
    <div class="card card-sm search-card">
        <div class="table-responsive">
            <table class="search-results table table-hover table-card" id="{{ table_id }}">
                {{ header }}
                <tbody class="sortable-subitems">
                    {% for key, label in days_list %}
                        <tr>
                            <td> {{ label }} </td>
                            <td class="col-auto">
                                <input class="form-check-input" type="checkbox" value="" id="notimeslot{{ key }}" checked>
                            </td>
                            <td class="col-auto">
                                <button type="" id="allday{{ key }}" class="btn btn-primary btn-sm"><i class="ti ti-clock-24"></i></button>
                            </td>
                            <td colspan="25">
                                <div class="mx-2" id="slider{{ key }}"></div>
                                {% for tkey, tvalue in timeslots_data[key] %}
                                    <input type="hidden" id="value{{ tkey }}_start{{ key }}" name="value{{ tkey }}_start{{ key }}" value="{{ tvalue['starttime'] }}">
                                    <input type="hidden" id="value{{ tkey }}_end{{ key }}" name="value{{ tkey }}_end{{ key }}" value="{{ tvalue['endtime'] }}">
                                {% endfor %}
                            </td>
                            <td class="col-auto">
                                <button type="" id="addrange{{ key }}" class="btn btn-primary btn-sm"><i class="ti ti-plus"></i></button>
                            </td>
                            <td class="col-auto">
                                <button type="" id="delrange{{ key }}" class="btn btn-primary btn-sm"><i class="ti ti-minus"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                {{ header }}
            </table>
        </div>
    </div>
</div>
<div class="card-body">
    <form id="rangeform" action="{{get_plugin_web_dir('deploy') }}/front/timeslotrange.form.php" method="post">
        <input type="hidden" id="timeslot" name="timeslot">
        <input type="hidden" name="plugin_deploy_timeslots_id" value="{{ timeslot_id }}">
        <input type="hidden" name="action" value="save_timeslot">
        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}">
        <div class="text-end">
            <button type="button" id="everyday" class="btn btn-outline-secondary"><i class="ti ti-24-hours"></i> &nbsp{{ __('Everyday') }}</button>
            <button type="submit" class="btn btn-primary"><i class="ti ti-device-floppy"></i> &nbsp{{ __('Save') }}</button>
        </div>
        <div id="timeslotsData" data-value='{{ timeslots_data|json_encode|raw }}'></div>
        <div id="daysLength" data-value='{{ days_list|length }}'></div>
    </form>
</div>

<script src="{{get_plugin_web_dir('deploy') }}/javascript/timeslot.js?t={{ rand }}"></script>