{% import 'components/form/modals_macros.html.twig' as modals %}

<div class="container-fluid">
    <div class="mb-2">
        <button class="btn btn-primary mb-2" id="add_file">
            <i class="ti ti-file-upload"></i>
            <span>{{ __('add a file', 'deploy') }}</span>
        </button>
    </div>

    <div class="modal fade" id="modal_file" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ __('Close') }}"></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <div class="card card-sm search-card">
    {% if count == 0 %}
        <div class="alert alert-info mb-0 rounded-0 border-top-0 border-bottom-0 border-right-0" role="alert">
            {{ __('No files found', 'deploy') }}
        </div>
    {% else %}
        <div class="table-responsive">
            <table class="search-results table table-hover table-card">
                <thead>
                {% set headings = [
                    __('filename', 'deploy'),
                    __('size', 'deploy'),
                    __('mimetype', 'deploy'),
                    __('P2P', 'deploy'),
                    __('Uncompress', 'deploy'),
                    __('SHA', 'deploy'),
                 ] %}

                <tr>
                {% for label in headings %}
                    <th>
                        {{ label }}
                    </th>
                {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for file in files %}
                    <tr>
                        <td>
                            <a href="#" class="edit_file" data-id="{{ file['id'] }}">
                                {{ file['icon'] }} {{ file['filename'] }}
                            </a>
                        </td>
                        <td>{{ call('Toolbox::getSize', [file['filesize']]) }}</td>
                        <td>{{ file['mimetype'] }}</td>
                        <td>{{ file['p2p'] == 1 ? "<i class='ti ti-check'>" : "" }}</td>
                        <td>{{ file['uncompress'] == 1 ? "<i class='ti ti-check'>" : "" }}</td>
                        <td><span class='text-muted'>{{ file['sha512'] }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    var modal = $('#modal_file');
    var bs_modal = new bootstrap.Modal(document.getElementById('modal_file'), {});

    $('#add_file').on('click', function() {
        var id    = $(this).data('id');
        modal.find('.modal-title').html(__('Add a file', 'deploy'))
        modal.find('.modal-body').load(CFG_GLPI.root_doc + '/' + GLPI_PLUGINS_PATH.deploy + '/ajax/package.php', {
            'plugin_deploy_packages_id': {{ plugin_deploy_packages_id }},
            'action': 'add_file',
        });

        bs_modal.show();
    });

    $('.edit_file').on('click', function() {
        var id    = $(this).data('id');
        modal.find('.modal-title').html(__('Edit a file', 'deploy'))
        modal.find('.modal-body').load(CFG_GLPI.root_doc + '/' + GLPI_PLUGINS_PATH.deploy + '/ajax/package.php', {
            'id': id,
            'action': 'edit_file',
        });

        bs_modal.show();
    });
});
</script>
